@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Mobile:</span>
        <span>07474 654321</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:Paul@PaulFawcett">paul@paulfawcett.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Style Health & Fitness<br />
        106 Ber St,<br />
        Norwich,<br />
        Norfolk<br />
        NR1 3ES<br />
    </p>
</section>