@model PersonalTrainer.Models.Client
@ViewBag.Title
@{
    ViewBag.Title = "Paul Fawcett PT";
}
<head>
    @*<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
</head>
<body>
    <div class="container">
        <h4 class="text-center">
            Welcome!
        </h4>
        <div class="row">
            <div class="col-md-6">
                This is where it's all going to begin. This is where I can help you create the new and improved you.
                My job as a Personal Trainer is to help you improve yourself in anyway that YOU want too. I can spend all day
                telling you what to do, but I want you to tell me what you want to achieve.
            </div>
            <div class="col-md-6">
                I'm going to take some details from you that will be stored on a secure database. I can access all clients
                data and you will be able to access your data and only your data. The data will not be passed onto any third
                parties and I have no intention of giving your data out to anyone.
            </div>
        </div>
        <div class="panel panel-info">
            <h4 class="panel panel-heading text-center">Using your data</h4>
            <div class="panel-body text-center">
                I wish to make you aware of how I will use your data. I will use it to create you a program and I will
                use this to monitor your progress. You will be able to do this in the near future but this functionality
                has not been built yet (Sort it out, Ken!!)
            </div>
        </div>
        <h5 class="text-center">Let's get started... Just click the button below and off we gooooo!!</h5>
        <div class="text-center">@Html.ActionLink("PAR-Q", "Parq")</div>
    </div>
</body>
